.TopBarElement {
    padding:5; 
    margin:5;
    min-width:50;
    color: gray;
    border-bottom: 1px solid transparent ;
    cursor:pointer;
    /* vertical-align:baseline;
    font-family: inherit; */
}

.TopBarElement:hover{
    color:black;
}

.TopBarElement.active{
    color:black;
    border-bottom:1px solid black;
}

.TopBarElementsWithDropdown {
    color:gray;
    margin: 5;
    padding: 5;
    min-width:50;
    cursor:pointer;
    botton-border:1px solid transparent;
}

.TopBarElementsWithDropdown:hover {
    color:black;
}

.TopBarElementsWithDropdown.active {
    color:black;
    border-bottom:1px solid black;
}


.badge {
    /* position:relative; */
    /* top:-7px;
    right:2px;
    padding: 0px 4px; */
    /* display:none; */
    width:15px;
    height:15px;
    border-radius:50%;
    color:white;
    background-color:red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.badge.active{
    
}